services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ashish
      POSTGRES_PASSWORD: ashish
      POSTGRES_DB: bakery_shop
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    restart: always
    environment:
      DATABASE_URL: "postgresql://ashish:ashish@db:5432/bakery_shop?schema=public"
      PORT: 5002
    ports:
      - "5003:5002"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:5003/api
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
